<section class="content control">

    <div id="control" style="display: none">
        <div id="J_Prev" class="prev_btn"></div>
        <div id="J_Pointer" class="pointer"></div>
        <div id="J_Next" class="next_btn"></div>
    </div>
</section>

        <script>

            KISSY.use('mobile/app/1.0/,dom,event', function (S, MS, D, E) {

                MS.startup(function (data) {
                    var app = this;
                    NS.toggleNav('back');

                    var controlEl = D.get('#control');
                    var timer;
                    function setHeight(){
                        D.hide(controlEl);
                        timer && clearTimeout(timer);
                        timer = setTimeout(function(){
                            var navEl = D.get('#MS-nav');
                            var msContentEl = D.get('#J_MSContent');
                            var msContentDivEl = D.children(msContentEl, 'div');
                            var height = D.viewportHeight() - D.height(navEl);
                            var width = D.viewportWidth();
                            D.css(msContentEl, {
                                'height': height,
                                'width': width
                            });
                            D.css(msContentDivEl, {
                                'height': height,
                                'width': width
                            });

                            D.css('#MS', {
                                'height': D.viewportHeight() - 20,
                                'overflow': 'hidden'
                            });
                            D.css(controlEl, {
                                'display': 'block',
                                'position': 'fixed',
                                'top': (D.viewportHeight() - D.height(controlEl)) / 2,
                                'left': (D.viewportWidth() - D.width(controlEl)) / 2,
                                'margin': 0
                            });
                        }, 100);
                    }

                    setHeight();

                    if(mobile == 'true'){
                        window.socket.emit("send", {
                            key: window.key,
                            act: "pair",
                            page: app.get('viewpath'),
                            fullscreen: true
                        });

                        window.addEventListener("orientationchange", setHeight );


                        var start = false,
                            curPos = null,
                            startPos = null;

                        window.addEventListener('deviceorientation', orientationListener, false); //方向感应器
                        window.addEventListener('MozOrientation', orientationListener, false); //方向感应器 for firefox

                        function orientationListener(ev) {
                            var gamma = ev.gamma;
                            var beta = ev.beta;
                            var alpha = ev.alpha;

                            if(ev.accelerationIncludingGravity){
                                gamma = ev.accelerationIncludingGravity.x*10;
                                beta = -ev.accelerationIncludingGravity.y*10;
                                alpha = ev.accelerationIncludingGravity.z*10;
                            }

                            curPos = {
                                y: alpha, // dir
                                x: beta, // fb
                                z: gamma // lr
                            };

                            start && (!startPos || (startPos.z != curPos.z || startPos.x != curPos.x)) && window.socket.emit("send", {
                                key: key,
                                act: 'move',
                                data: {
                                    curPos: curPos,
                                    startPos: startPos
                                }
                            });
                        }

                        var pointerEl = D.get('#J_Pointer');
                        E.on(pointerEl, 'touchstart', function (e) {
                            window.socket.emit('send', {
                                key: window.key,
                                act: 'pointer',
                                data: {
                                    x: -1,
                                    y: -1
                                }
                            });
                            window.socket.emit('send', {
                                key: window.key,
                                act: 'reset',
                                data: curPos
                            });
                            startPos = curPos;
                            start = true;
                        });

                        E.on(pointerEl, 'touchend touchcancel', function(e){
                            start = false;
                            window.socket.emit('send', {
                                key: window.key,
                                act: 'pointer_stop',
                                data: {}
                            });

                        });

                        var prevBtn = D.get('#J_Prev');
                        E.on(prevBtn, 'click', function(e){
                            e.preventDefault();
                            window.socket.emit('send', {
                                key: window.key,
                                act: 'prev',
                                data: {}
                            });
                        });
                        var nextBtn = D.get('#J_Next');
                        E.on(nextBtn, 'click', function(e){
                            e.preventDefault();
                            window.socket.emit('send', {
                                key: window.key,
                                act: 'next',
                                data: {}
                            });
                        });

                        var contentEl = D.get('#J_MSContent');
                        var doubleTapTimer;
                        var throttle;
                        var zoom = 'out';
                        E.on(contentEl, 'touchend', function(e){
                            if(!D.parent(e.target, '#control')){
                                var now = new Date().getTime();
                                var lastTouch = D.data(this, 'lastTouch') || now + 1;
                                var delta = now - lastTouch;
                                doubleTapTimer && clearTimeout(doubleTapTimer);
                                if(delta < 500 && delta > 0){
                                    var x = e.changedTouches[0].pageX;
                                    var y = e.changedTouches[0].pageY;
                                    zoom = zoom == 'out' ? 'in' : 'out';
                                    throttle && clearTimeout(throttle);
                                    throttle = setTimeout(function(){
                                        window.socket.emit('send', {
                                            key: window.key,
                                            act: 'zoom',
                                            data: {
                                                zoom: zoom,
                                                x: x / D.viewportWidth(),
                                                y: y / D.viewportHeight()
                                            }
                                        });
                                    }, 100);
                                }else{
                                    doubleTapTimer = setTimeout(function(e){
                                        clearTimeout(doubleTapTimer);
                                    }, 500, [e]);
                                }
                                D.data(this, 'lastTouch', now);
                            }
                        });
                    }else{}

                });

                MS.teardown(function () {
                    // 注册 teardown
                });

                MS.includeOnce(function () {
                    // 注册 includeOnce
                });

            });

        </script>