<section>
    <div class="edit-panel">
        <div class="opacity-bg"></div>
        <!-- <div class="top-ctl">
            <div class="mid-box">

                <div class="go-back" id="J_GoBack"></div>
                <div class="setting" id="J_Setting"></div>
                <div class="setting-detail" id="J_SettingDetail" style="display: none;">
                    <ul>
                        <li>保存</li>
                        <li>分享</li>
                        <li>删除</li>
                    </ul>
                    <s></s>
                </div>
            </div>
        </div> -->
        <div class="edit-box">
            <div class="editing-page" id="J_EditingPage">
            </div>
            <div class="waiting-page-wrap">
                <div class="waiting-page">
                    <ul id="J_MinShow">
                    </ul>
                </div>
            </div>
        </div>
        <a href="play_ppt.html" class="preview-btn-wrap" id="J_PreviewBtn">
            <div class="preview-btn"></div>
        </a>
        <div class="other-ctl">
            <a href="#" class="save J_Save">保存</a>
            <a href="#" class="link J_Link">链接</a>
            <a href="play_ppt.html" class="play" id="J_Play">播放</a>
            <a href="#" class="tdc" id="J_Tdc">二维码</a>
        </div>
    </div>

    <!-- <div class="showing-ppt" id="J_ShowingPPT">
        <ul id="J_PPPTBox">
        </ul>
    </div> -->
</section>
<script>
    KISSY.use('mobile/app/1.0/,dom,event,node', function (S, MS, D, E, Node, TT) {
        var $ = S.all;

        var editingTpl = '<div class="title" style="margin: {{data.title.margin}}">\
                      <textarea class="J_TitleEdit" type="text" \
                      placeholder="单击此处添加标题">{{data.title.text}}</textarea>\
                    </div>\
                    <div class="desc" style="margin: {{data.desc.margin}}">\
                      <textarea class="J_DescEdit" type="text" placeholder="单击此处添加副标题">{{data.desc.text}}</textarea>\
                    </div>';
        var minShowTpl = '<li class="J_MinItem" data-c="{{index}}">\
                      <div class="title" style="margin: {{data.title.margin}}">\
                      {{#if data.title.text}}\
                      {{data.title.text}}\
                      {{#else}}\
                      单击此处添加标题\
                      {{/if}}\
                      </div>\
                      <div class="desc" style="margin: {{data.desc.margin}}">\
                      {{#if data.desc.text}}\
                      {{data.desc.text}}</div>\
                      {{#else}}\
                      单击此处添加副标题\
                      {{/if}}\
                    </li>';
        var pptTpl = '<div class="title" style="margin: {{data.title.offset}}">\
                  <span>{{data.title.text}}</span>\
                </div>\
                <div class="desc" style="margin: {{data.desc.offset}}">\
                  <span>{{data.desc.text}}</span>\
                </div>';

        var currentEditingIdx = 0;

        var editingPage = $('#J_EditingPage');

        var clickEventName = S.UA.iphone ? 'singleTap' : 'click';
        MS.startup(function (data) {
            var app = this;
            NS.toggleNav('back');
//            D.attr('#J_BackBtn', 'href', 'add_ppt.html');
            begin();

            $('#J_Tdc').on('click', function(e){
                e.halt();
                D.remove('#J_QRImgBox');
                D.remove('#J_QRImgBoxMask');
                var content = D.get('.edit-panel', D.get('#J_MSContent'));
                var mask = D.create('<div id="J_QRImgBoxMask" class="qr-img-box-mask"></div>');
                D.css(mask, {
                    width: D.viewportWidth(),
                    height: D.viewportHeight()
                });
                D.append(mask, content);
                var box = D.create('<div id="J_QRImgBox" class="qr-img-box"><img src="' + window.qrUrl + '" width="300" height="300" ><p>PIN码：' + window.key + '</p></div>');
                D.append(box, content);
            });
        });

        MS.teardown(function () {
            // 注册 teardown
        });

        MS.includeOnce(function () {
            // 注册 includeOnce
        });


        var g_pptdata = [{"title":{"margin":"4% 10% 0","text":"主标题一"},"desc":{"margin":"2% 10% 0","text":"<img src='./assets/images/demo0.jpg'>"}},{"title":{"margin":"4% 10% 0","text":"主标题二"},"desc":{"margin":"2% 10% 0","text":"<img src='./assets/images/demo1.jpg'>"}},{"title":{"margin":"4% 10% 0","text":"333333333"},"desc":{"margin":"2% 10% 0","text":"<img src='./assets/images/demo3.jpg'>"}}];

        function begin(){
            //读本地存储
            if( localStorage.getItem('pptData') ){
                g_pptdata = S.JSON.parse( localStorage.getItem('pptData') );
            }

            KISSY.use('template', function(S, TT){
                showEditingItemByIdx(currentEditingIdx);

                //返回
                // $('#J_GoBack').on(clickEventName, function(){
                //   window.history.go(-1);
                // })

                //设置
                // $('#J_Setting').on(clickEventName, function(){

                // })


                $('#J_MinShow').delegate(clickEventName, 'li',  function(e){
                    var target = $(e.currentTarget);
                    //新增一个ppt页
                    if( target.hasClass('J_AddBtn') ){
                        addOnePage();
                        return ;
                    }

                    //缩略图 点击事件
                    var idx = target.attr('data-c');
                    saveEditingItem(currentEditingIdx);
                    if( idx != undefined ){
                        currentEditingIdx = parseInt(idx);
                        showEditingItemByIdx(currentEditingIdx);
                    }
                })

                var minShowLeft = 0;
                $('#J_MinShow').on('swipe', function(e){
                    var maxMinShowLeft = $('#J_MinShow').width();
                    if( e.direction == 'left'){
                        minShowLeft -= e.distance;
                    }
                    else if(e.direction == 'right'){
                        minShowLeft += e.distance;
                    }
                    // if( minShow >)
                    $('#J_MinShow').css('left', minShowLeft + 'px');
                })

                //播放
                $('#J_Play').on(clickEventName, function(e){
                    previewPPT();
                })

                //预览
                $('#J_PreviewBtn').on(clickEventName, function(){
                    previewPPT();
                    fullScreenApi.requestFullScreen(document.getElementById('J_MSContent'));
                })

                //-----------------------------------------------actions

                //添加一页ppt
                function addOnePage(){
                    g_pptdata.push({
                        title: {
                            margin: '20% 10% 0',
                            text: ''
                        },
                        desc: {
                            margin: '2% 10% 0',
                            text: ''
                        }
                    });

                    //render minShow and editing this new page
                    renderMinShow();
                    currentEditingIdx = g_pptdata.length - 1;
                    showEditingItemByIdx(currentEditingIdx);
                }

                //点击预览
                function previewPPT(){
                    saveEditingItem(currentEditingIdx);
                    localStorage.setItem('pptData', S.JSON.stringify(g_pptdata));
                }

                //init render minShow
                renderMinShow();

                //渲染
                function renderMinShow(){
                    var minShow = $('#J_MinShow');
                    var _html = '';
                    S.each(g_pptdata, function(item, idx){

                        _html += TT(minShowTpl).render({
                            data: item,
                            index: idx
                        });
                    })

                    minShow.html(_html + '<li class="add-btn J_AddBtn">+</li>');
                }

                //显示编辑idx页 ppt大图
                function showEditingItemByIdx(idx){
                    editingPage.html(TT(editingTpl).render({
                        data: g_pptdata[idx]
                    }));
                }

                //保存正在编辑的ppt页
                function saveEditingItem(idx){
                    var box = $('#J_EditingPage');
                    g_pptdata[idx].title.text = D.get('.J_TitleEdit', box).value.replace(/\"/g, '\'')
                    g_pptdata[idx].desc.text = D.get('.J_DescEdit', box).value.replace(/\"/g, '\'');

                    renderMinShow();
                }

            });
        }
    });

</script>
