<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>easy sharing</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-114x114-precomposed.png">
  <link rel="stylesheet" href="http://a.tbcdn.cn/s/kissy/1.3.0/css/dpl/base.css">
  <link rel="stylesheet" href="assets/stylesheets/style.css">
    <link rel="stylesheet" href="assets/ppt/show.css"/>
    <script>window.mobile = '<%= isMobile %>';</script>
    <link rel="apple-touch-icon" href="/assets/images/iphone5-icon.png"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>
<body>
  <section id="MS">
    <div id="MS-nav">
      <div id="J_Logo" class="logo">
        <a href="javascript:void(0);">
          <img src="./assets/images/logo.png" alt="easy sharing" width="92">
        </a>
      </div>
      <div id="J_Back" class="back">
        <div class="back-bd">
          <a id="J_BackBtn" href="javascript:history.back();">
            <img src="./assets/images/back.png" alt="back" width="30px">
          </a>
        </div>
          <div id="J_SettingBtn" class="setting-btn"></div>
      </div>
    </div>
    <div id="J_MSContent" class="MS-con index">
      <div class="MS-pal"></div>
    </div>
  </section>
  <div id="J_ScreenPointer" class="screen-pointer"></div>
  <script type="text/javascript" src="http://a.tbcdn.cn/s/kissy/1.3.0/kissy.js"></script>
  <script src="/assets/socket.io/socket.io.min.js"></script>
  <script src="/assets/javascript/zepto.js"></script>
  <script src="/assets/javascript/url.js"></script>
  <script type="text/javascript" src="assets/javascripts/index.js"></script>
<script>
KISSY.ready(function(S){
  
})
</script>
</body>
</html>