<section class="content control">
  <div class="showing-ppt style-rotate" id="J_ShowingPPT">

  <div id="viewStage">
  <div id="cube1" class="cube" ><!-- 1526 -->
    <div class="facefront fb">1</div>
    <div class="faceback fb">2</div>
    <div class="facetop tb">5</div>
    <div class="facebottom tb">6</div>
  </div>
</div>
  <ul id="J_PPPTBox" style="display: none;">
  </ul>
</div>
    <div id="J_ControlArea" class="control-ppt-area">
        <div class="enter-control"></div>
        <div class="save-ppt"></div>
    </div>
</section>
<script>
    KISSY.use('mobile/app/1.0/,dom,event,node', function (S, MS, D, E, Node, TT) {
        var $ = S.all;
        var minShowTpl = '\
                      <div class="title" style="margin: {{data.title.margin}}">\
                      {{#if data.title.text}}\
                      {{data.title.text}}\
                      {{#else}}\
                      单击此处添加标题\
                      {{/if}}\
                      </div>\
                      <div class="desc" style="margin: {{data.desc.margin}}">\
                      {{#if data.desc.text}}\
                      {{data.desc.text}}</div>\
                      {{#else}}\
                      单击此处添加副标题\
                      {{/if}}\
                    ';


        MS.startup(function (data) {
            var app = this;
            NS.toggleNav(mobile == 'true' ? 'setting' : 'back');

            begin();

            if(mobile == 'true'){
                var controlTimer;
                var $controlArea = $('#J_ControlArea');
                $('#J_SettingBtn').on('click', function(e){
                    $controlArea.slideUp();
                    controlTimer && clearTimeout(controlTimer);
                    controlTimer = setTimeout(function(){
                        $controlArea.slideDown();
                    }, 1500);
                });
            }

        });

        MS.teardown(function () {
            // 注册 teardown
        });

        MS.includeOnce(function () {
            // 注册 includeOnce
        });

        var g_pptdata = [];
        function begin(){
            g_pptdata = S.JSON.parse( localStorage.getItem('pptData') );
            cLen = g_pptdata.length;

            // rotateTo(0, cLen)
            renderPPT();

            eventHanlde();
        }


        function eventHanlde(){
            //光标移动 左、右
            $(document).on('keyup', function(e){
                if( e.keyCode == 37){
                    _prev();
                }
                else if( e.keyCode == 39){
                    _next();
                }
            })

            var doubleTap = S.UA.iphone?('doubleTap'):('dblclick');
            $('#J_PPPTBox').delegate(doubleTap,'.J_PPTItem', function(e){
                var target = $(e.currentTarget);
                if(target.css('-webkit-transform') == 'none'){
                    var _x = e.offsetX, _y = e.offsetY;
                    target.css('-webkit-transform', 'scale(2)');
                    target.css('-webkit-transform-origin', _x + ' ' + _y);
                }
                else{
                    target.css('-webkit-transform', '');
                }
            })

            $('#cube1').on('swipe', function(e){
              if( e.direction == 'up'){
                _next();
              }
              else if(e.direction == 'down'){
                _prev();
              }
            })

             window.addEventListener("orientationchange", handleRotation );
        }

        //渲染ppt
        function renderPPT(){
            KISSY.use('template', function(S, TT){
                S.each(g_pptdata, function(item, idx){
                    $('#J_PPPTBox').append( $( TT(minShowTpl).render({
                        data: item
                        ,index: idx
                        // ,left: idx * 950
                    }) ) )
                })

                $('#J_PPPTBox').css('width', g_pptdata.length * 950 + 'px');
            })
        }

    var cLeft = 0, cIdx = 0, cLen = 0;
    var playStyle = 'rotate';

    function _prev(){
      if( cIdx == 0) {
        alert('已经到达第一页')
        return false;
      }
      var items = $('#J_PPPTBox').children();
      --cIdx;
      switch(playStyle){
        case 'rotate':{
          // rotateTo(cIdx,cLen,'prev');
          rotate2(cIdx, 'prev');
        }
      }
    }
    function _next(){
      if( cIdx == cLen-1){
        alert('已经到达最后一页');
        return false;
      } 
      var items = $('#J_PPPTBox').children();
      ++cIdx;
      switch(playStyle){
        case 'rotate':{
          // rotateTo(cIdx,cLen,'next');
          rotate2(cIdx, 'next');
        }
      }
    }

    function rotate2(cIdx, type){
      // debugger
      renderPPTToCube(cIdx);
      // if( type == 'prev'){
        $('#cube1').css('-webkit-transform', 'rotateX(' + 90 * cIdx + 'deg)')
      // }
      // else {

      // }
    }
    renderPPTToCube(0);
    function renderPPTToCube(cIdx){
      KISSY.use('template', function(S, TT){
        var items = $('#cube1').children();
        items = [items.item(0), items.item(3), items.item(1), items.item(2)];

        // items
        items[cIdx%4].html( TT(minShowTpl).render({
          data: g_pptdata[cIdx]
          ,index: cIdx
        }) )
      });
    }

    //特殊效果：旋转
    function rotateTo(cIdx, len, type){
      // debugger
      var items = $('#J_PPPTBox').children();
      var prev = (cIdx-1>=0) && items[cIdx-1] //item 方法不可用
      ,prev2 = (cIdx-2>=0) && items[cIdx-2]
      ,cur = items[cIdx]
      ,next = (cIdx+1<len) && items[cIdx+1]
      ,next2 = (cIdx+2<len) && items[cIdx+2]
      ;

      if(type == 'prev'){
        prev&&(prev.className = 'cur transform-origin-top-right');
        cur.className = 'next transform-origin-top-left';
      }
      else{
        cur.className = 'prev transform-origin-top-right';
        next&&(next.className = 'cur transform-origin-top-left');
      }
    }
    
    setScale();
    function setScale(){
      var clientWidth = document.body.clientWidth;
      var clientHeight = document.body.clientHeight;

      if( clientWidth < 950){
        $('#J_ShowingPPT').css('-webkit-transform', 'scale(' + clientWidth/950 + ')');
        $('#J_ShowingPPT').height( clientHeight - 52 ).css('overflow', 'hidden');
      }
    }
    
    function handleRotation(){
      setScale();
    }
});
</script>