/*
  ppt playing
*/

.showing-ppt{
  position: relative;
  width: 320px;
  height: 300px;
  margin: 0 auto;
  ul{
    .clearfix();
  }
  li{
    position: absolute;
    width: 100%;
    height: 300px;
    -webkit-transition: 2s all ease;
    z-index: 1;
    opacity: 0;
  }
}
@media screen and (min-width: 980px) {
  .showing-ppt{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: white;
    li{
      width: 100%;
      height: 100%;
    }
  }
}