/**
  * ppt show's style
  */
.content {
  margin: 0 auto;
}
@media screen and (max-width: 980px) {
  .header,
  .content,
  .crumbs {
    width: 300px;
  }
}
@media screen and (min-width: 980px) {
  .header,
  .content,
  .crumbs {
    width: 950px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  .header,
  .content,
  .crumbs {
    width: 450px;
  }
}
/*slide 特效*/
.box-detail .scroller {
  -webkit-transition: 1s all ease;
}
.box-detail .scroll-nav li {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 10px;
  background-color: #aaa;
}
.box-detail .scroll-nav .active {
  background-color: #666;
}
/**
  * ppt 的模板展示
  */
.easysharing-tpl-show {
  margin-top: 30px;
  left: 0;
  top: 0;
}
.easysharing-tpl-show .opacity-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 120%;
  background-color: black;
  opacity: 0.3;
  z-index: -1;
}
.easysharing-tpl-show .box-detail {
  position: relative;
  margin: 0 auto;
}
.easysharing-tpl-show .box-item {
  float: left;
  position: relative;
}
.easysharing-tpl-show .box-item .box-item-i {
  margin: 5px;
  border-width: 2px;
  border-style: solid;
  height: 90%;
}
.easysharing-tpl-show .box-item .title {
  font-weight: bolder;
}
.easysharing-tpl-show .right-item {
  margin-right: 0;
}
@media screen and (min-width: 980px) {
  .back {
    display: none;
  }
  .logo {
    display: block;
  }
  .easysharing-tpl-show .box-item {
    width: 295px;
    height: 220px;
  }
}
@media screen and (max-width: 980px) {
  .back {
    display: block;
  }
  .logo {
    display: none;
  }
  .easysharing-tpl-show .box-item {
    width: 150px;
    height: 100px;
    -webkit-text-size-adjust: none;
    font-size: 8px;
  }
}
/**
  * 选择新建ppt 还是 播放已存在ppt的入口
  */
.entrance {
  margin: 30px auto;
}
.entrance .open-choose-tpl,
.entrance .open-exist-ppt {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 1px 1px 15px #999;
  overflow: hidden;
}
.entrance .open-choose-tpl {
  text-align: center;
  padding: 0 0 30px 0;
  background-repeat: no-repeat;
}
.entrance .open-choose-tpl .icon {
  background: url(../../images/add.png) no-repeat 0 0;
  width: 60px;
  height: 60px;
  margin: 50px auto 25px;
}
.entrance .open-exist-ppt {
  text-align: center;
  margin-top: 75px;
  padding: 0 0 30px 0;
  background-repeat: no-repeat;
}
.entrance .open-exist-ppt .icon {
  width: 60px;
  height: 60px;
  margin: 50px auto 25px;
}
@media screen and (min-width: 980px) {
  .entrance .open-choose-tpl,
  .entrance .open-exist-ppt {
    float: left;
    width: 440px;
    height: 329px;
    padding: 0;
    margin-top: 0;
  }
  .entrance .open-exist-ppt {
    float: right;
    background-image: url('../../images/show-existing.png');
  }
}
/*
  ppt style
*/
.type-simple {
  color: #333;
}
.type-simple .box-item-i {
  background-color: white;
  border-color: #1a7eb0;
}
.type-simple .title {
  margin: 35px 5px 0;
}
.type-simple .desc {
  margin: 5px 18px 0;
}
.type-simple-2 {
  color: #666;
}
.type-simple-2 .box-item-i {
  background-color: #c6c6c6;
}
.type-simple-2 .title {
  margin: 35px 5px 0;
}
.type-simple-2 .desc {
  margin: 5px 15px;
}
.type-ashen {
  color: white;
  text-align: center;
}
.type-ashen .box-item-i {
  background-color: #d4cfcb;
}
.type-ashen .title {
  margin: 15px 0 0 0;
}
.type-ashen .desc {
  margin: 5px 0 0 0;
}
.type-gray {
  text-align: center;
}
.type-gray .box-item-i {
  background-color: gray;
}
.type-gray .title {
  color: white;
  margin: 15px 0 0 0;
}
.type-gray .desc {
  color: #333;
  margin: 5px 0 0 0;
}
.type-blue {
  color: white;
}
.type-blue .box-item-i {
  background-color: #46aed5;
}
.type-blue .title {
  margin: 5px 5px 0;
}
.type-blue .desc {
  margin: 5px 5px 0;
}
.type-orange {
  color: white;
}
.type-orange .box-item-i {
  background-color: #f5542a;
}
.type-orange .title {
  margin: 10px 0 0 5px;
}
.type-orange .desc {
  margin: 5px 0px 0;
}
.editing-page,
.showing-ppt li {
  background: -webkit-gradient(linear, 0 0, 0 150%, from(#cccccc), to(#ffffff));
  background: -moz-linear-gradient(top, #adadad, #ffffff);
}
/*
  编辑ppt style
*/
.go-back,
.setting,
.preview-btn,
.setting-detail s {
  background-image: url(../images/edit-page.png);
  background-repeat: no-repeat;
}
.top-ctl {
  position: relative;
  height: 30px;
  width: 100%;
  margin: 0 auto;
  background-color: #181818;
  border-bottom: 2px solid #1c80b1;
}
.top-ctl .mid-box {
  width: 300px;
  margin: 0 auto;
  border-bottom: 1px solid #1a1a1a;
}
.top-ctl .go-back {
  float: left;
  width: 30px;
  height: 28px;
  background-position: 0 2px;
  cursor: pointer;
}
.top-ctl .setting {
  float: right;
  width: 24px;
  height: 26px;
  background-position: -41px 2px;
  cursor: pointer;
}
.top-ctl .setting-detail {
  position: absolute;
}
.top-ctl .setting-detail s {
  position: absolute;
  width: 12px;
  height: 6px;
  right: 5px;
  top: 28px;
}
.top-ctl .setting-detail li {
  width: 100px;
  height: 20px;
}
.edit-panel {
  position: relative;
  z-index: 99999;
}
.edit-panel .edit-box {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.edit-panel .edit-box .editing-page {
  background-color: white;
  overflow: hidden;
  min-height: 220px;
}
.edit-panel .edit-box input[type=text] {
  height: 16px;
}
.edit-panel .edit-box textarea {
  height: 30px;
}
.edit-panel ::-webkit-scrollbar-track-piece {
  background-color: #fff;
}
.edit-panel ::-webkit-scrollbar {
  width: 10px;
}
.edit-panel ::-webkit-scrollbar-thumb {
  background: #999;
}
.edit-panel .waiting-page-wrap {
  overflow-y: auto;
  width: 280px;
  padding: 10px;
  overflow-x: hidden;
}
.edit-panel .waiting-page-wrap li {
  font-size: 8px;
  -webkit-text-size-adjust: none;
}
.edit-panel .waiting-page {
  *zoom: 1;
  width: 999px;
}
.edit-panel .waiting-page:after {
  content: '\20';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.edit-panel .waiting-page ul {
  position: relative;
  left: 0;
  -webkit-transition-duration: 0.2s;
  margin: 0;
  padding-left: 0;
  *zoom: 1;
}
.edit-panel .waiting-page ul:after {
  content: '\20';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.edit-panel .waiting-page li {
  float: left;
  width: 110px;
  height: 83px;
  overflow: hidden;
  background-color: white;
  margin: 5px;
}
.edit-panel .waiting-page li img {
  -webkit-transform: scale(0.125);
  -webkit-transform-origin: 0 0;
}
.edit-panel .waiting-page .add-btn {
  text-align: center;
  line-height: 76px;
  background-color: #3b3b3b;
  border: 1px dotted white;
  color: white;
  font-size: 60px;
  cursor: pointer;
}
.edit-panel .waiting-page .add-btn:hover {
  opacity: 0.5;
}
.edit-panel .other-ctl {
  display: none;
}
@media screen and (min-width: 980px) {
  .top-ctl {
    display: none;
  }
  .edit-panel .other-ctl {
    position: absolute;
    right: 0px;
    top: 0;
    display: block;
  }
  .edit-panel .other-ctl a {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    text-indent: -99999px;
    margin-bottom: 20px;
  }
  .edit-panel .other-ctl a:hover {
    opacity: 0.5;
  }
  .edit-panel .other-ctl .save {
    background-position: 0 0;
  }
  .edit-panel .other-ctl .link {
    background-position: 0 -60px;
  }
  .edit-panel .other-ctl .play {
    background-position: 0 -120px;
  }
  .edit-panel .other-ctl .tdc {
    background-position: 0 -180px;
  }
  .edit-panel .opacity-bg {
    display: none;
  }
  .edit-panel .edit-box {
    position: relative;
    width: auto;
  }
  .edit-panel .edit-box .editing-page {
    margin-left: 160px;
    margin-right: 80px;
    min-height: 405px;
  }
  .edit-panel .edit-box .waiting-page-wrap {
    background-color: #3b3b3b;
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    min-height: 385px;
  }
  .edit-panel .edit-box .waiting-page-wrap .waiting-page {
    width: auto;
    font-size: 8px;
  }
  .edit-panel .edit-box .waiting-page-wrap li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  .edit-panel .edit-box input[type=text] {
    height: 40px;
    font-size: 20px;
    padding: 0 5px;
  }
  .edit-panel .preview-btn-wrap {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .top-ctl {
    display: block;
  }
  .crumbs {
    display: none;
  }
  .preview-btn-wrap {
    display: block;
    height: 60px;
    overflow: hidden;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#64d0ed), to(#1b7fb1));
    background: -moz-linear-gradient(top, #64d0ed, #1b7fb1);
    border-bottom: 1px solid #404040;
    cursor: pointer;
  }
  .preview-btn-wrap .preview-btn {
    position: relative;
    top: 12px;
    width: 27px;
    height: 34px;
    margin: 0 auto;
    background-position: 0 -32px;
  }
}
@media screen and (min-width: 600px) {
  
}
/*
  ppt playing
*/
.showing-ppt,
.showing-ppt li {
  min-height: 300px;
}
.showing-ppt {
  position: relative;
  margin: 0 auto;
  width: 950px;
  -webkit-transform-origin: 0 0;
}
.showing-ppt ul {
  position: absolute;
  margin-top: 0;
  padding-left: 0;
  height: 420px;
}
.showing-ppt li {
  position: absolute;
  top: 0;
  width: 960px;
  height: 100%;
  overflow: hidden;
}
@media screen and (min-width: 980px) {
  
}
.style-rotate {
  -webkit-perspective: 1000;
}
.style-rotate ul {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1s ease;
}
.style-rotate ul li {
  -webkit-transition-duration: 1s;
}
.style-rotate ul .prev {
  left: -960px;
  -webkit-transform: rotateY(-90deg);
  -webkit-transform-origin: top right;
}
.style-rotate ul .prev-hide {
  left: 0;
  -webkit-transform: rotateY(-90deg);
  -webkit-transform-origin: top right;
}
.style-rotate ul .next {
  left: 960px;
  -webkit-transform: rotateY(90deg);
  -webkit-transform-origin: top left;
}
.style-rotate ul .next-hide {
  left: 0;
  -webkit-transform: rotateY(90deg);
  -webkit-transform-origin: top left;
}
.style-rotate ul .cur {
  left: 0;
  -webkit-transform: rotateY(0deg);
  -webkit-transform-origin: top right;
}
/*** View Stage ***/
#viewStage {
  -webkit-perspective: 450px;
  -webkit-perspective-origin: 50% 50%;
}
/*** Keyframes ***/
/*** Cube ***/
.cube {
  position: relative;
  float: left;
  width: 950px;
  height: 300px;
  -webkit-transition-duration: 1s;
  /* Transform */

  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  /* Animation */

  -webkit-animation-name: rotation;
  -webkit-animation-timing-function: ease;
  -webkit-animation-timing-function: cubic-bezier(0.6, -1, 0.4, 1.5);
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 15s;
  -moz-animation-name: rotation;
  -moz-animation-timing-function: ease;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 15s;
}
/* Cube delay and z-index fix */
#cube1 {
  z-index: 1;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
}
/*** Cube's face Style ***/
.cube div {
  background-color: #ccc;
  background-size: 450px 300px;
  position: absolute;
  overflow: hidden;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.cube div.fb {
  width: 950px;
  height: 300px;
}
.cube div.tb {
  width: 950px;
  height: 300px;
}
.cube div.lr {
  width: 600px;
  height: 300px;
}
/* Face image and position */
.facefront {
  background-image: url(../image.jpg);
  -webkit-transform: translateZ(150px);
  -moz-transform: translateY(0px);
}
.faceback {
  background-image: url(../image3.jpg);
  -webkit-transform: rotateY(180deg) rotateZ(180deg) translateZ(150px);
  -moz-transform: translateY(300px);
}
.facetop {
  background-image: url(../image2.jpg);
  -webkit-transform: rotateX(90deg) translateZ(150px);
  -moz-transform: translateY(600px);
}
.facebottom {
  background-image: url(../image4.jpg);
  -webkit-transform: rotateX(-90deg) translateZ(150px);
  -moz-transform: translateY(900px);
}
.faceleft {
  background-color: #000;
  -webkit-transform: rotateY(90deg) translateZ(0px);
  -moz-transform: scaleX(0);
}
.faceright {
  background-color: #000;
  -webkit-transform: rotateY(-90deg) translateZ(150px);
  -moz-transform: scaleX(0);
}
#cube1 div {
  background-position: 0 0;
}
#cube2 div {
  background-position: -150px 0;
}
#cube3 div {
  background-position: -300px 0;
}
