/**
  * ppt show's style
  */
@import '../mixins.less';

.content{
  margin: 0 auto;
}

@media screen and (max-width: 980px) {
  
  .header, .content, .crumbs{
    width: 300px;
  }
}
// pc
@media screen and (min-width: 980px) {
  .header, .content, .crumbs{
    width: 950px;
  }
}

@media screen and (min-width: 500px) {
  .header, .content, .crumbs{
    width: 450px;
  } 
}



/*slide 特效*/
.box-detail{
  .scroller{
    // position: absolute;
    // width: 999999px;
    -webkit-transition: 1s all ease;
  }
  .slide-panel{
    // width: 828px;
    // float: left;
  }
  .scroll-nav{
    li{
      width: 50px;
      height: 50px;
      -webkit-border-radius: 10px;
      background-color: #aaa;
    }
    .active{
      background-color: #666;
    }
  }
}


@import 'tpl-show.less';
@import 'entrance.less';
@import 'ppt-style.less';
@import 'ppt-edit.less';
@import 'ppt-play.less';